:root{
    --purple:#814096;
    --pink:#F83292;
    --gradient:linear-gradient(90deg, var(--purple), var(--pink));
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
}

 #box-container .box{
    border-radius: 40px;
  
}

.footer .box-container .box a{
    font-size: 1.5rem;
    padding:.5rem 0;
    color:#eee;
}


.web{
    /* background:url(../images/web-bg.png) no-repeat; */
    background-size: cover;
    background-position: center;
    /* padding-bottom: 1rem; */
}

.web .column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.web .column .image{
    flex:1 1 40rem;
}

.web .column .image img{
    width:100%;
}



.web .column .content{
    flex:1 1 40rem;
}

.web .column .content h3{
    font-size: 3rem;
    color:#666;
}

.web .column .content p{
    font-size: 1.5rem;
    color:#666;
    padding:1rem 0;
}

.web .column .content .buttons a:last-child{
    margin-left: 2rem;
}
.body{
    background-color:white;
}

.new-home{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background:url(../images/home-bg-img.png) no-repeat; */
    background-size: cover;
    background-position: center;
}

.new-home .image img{
    width:40vw;
    animation: float 3s linear infinite;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
}

.new-home .content h3{
    font-size: 5.5rem;
    color:#333;
    text-transform: uppercase;
}

.new-home .content h3 span{
    color:var(--pink);
    text-transform: uppercase;
}

.new-home .content p{
    font-size: 1.7rem;
    color:#666;
    padding:0.5rem 0;
}
.center ul{
    /* justify-content: center; */
    gap:0.5rem;
    display: flex;
}
.center ul li{
    list-style: none;
    border:2px solid var(--pink);
    font-size:1rem;
    font-weight:bold;
    border-radius:5rem;
}
.center ul li a{
    text-decoration:none;
    /* width:50vw; */
    padding:10px 12px;
    display: block;
    text-align: center;
}

.btn2{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    border-radius: 5rem;
    border:1px soid var(--pink);
    background:white;
    font-size: 1.7rem;
    color:var(--pink);
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .3s linear;
    text-decoration:none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.btn2:hover{
    transform: scale(1.1);
    color:white;
    background:var(--gradient);

}
.navbar a{
    color:var(--pink);
}

